---
import type { Page } from 'astro'
import { getCollection, type CollectionEntry } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import {
  Nav,
  NavButtonGroup,
  NavNextButton,
  NavPrevButton,
  NavStatus,
} from '@components/Nav'
import { Books } from '@components/Books'

type Props = {
  page: Page<CollectionEntry<'books'>>
}

export async function getStaticPaths({ paginate }) {
  const posts = await getCollection(
    'books',
    ({ data }) => data.status === 'release'
  )

  return paginate(posts, { pageSize: 20 })
}

export const prerender = true

const { page } = Astro.props
---

<Layout title="books">
  <Books data={page.data} />
  <Nav>
    <NavStatus lastPage={page.lastPage} currentPage={page.currentPage} />
    <NavButtonGroup>
      <NavPrevButton href={page.url.prev} />
      <NavNextButton href={page.url.next} />
    </NavButtonGroup>
  </Nav>
</Layout>
